---
- name: Install other apps
  become: true
  tags:
    - desktop
  block:
    - name: Install apps used by other things (Ubuntu)
      ansible.builtin.package:
        name:
          - libnotify-bin
      when: ansible_facts['distribution'] == "Ubuntu"
