---
- name: Install other apps
  become: true
  tags:
    - apps
  block:
    - name: Install other apps (Debian)
      ansible.builtin.apt:
        update_cache: true
        name:
          - arandr
          - darktable
          - gimp
          - keepassxc
          - lxappearance
          # - meld
          # - newsboat
          - qt5ct
          # - thunar
          - tmux
          # - youtube-dl
          - zathura
      when: ansible_facts['distribution'] == "Debian"

    - name: Install other apps (Ubuntu)
      ansible.builtin.package:
        name:
          - arandr
          - darktable
          - gimp
          - keepassxc
          - lxappearance
          - meld
          # - newsboat
          - qt5ct
          - thunar
          - tmux
          # - youtube-dl
          - zathura

          - mesa-utils # for glxinfo
          - nfs-common
          - policykit-1-gnome
      when: ansible_facts['distribution'] == "Ubuntu"
