---
- name: Install Base Tools
  become: true
  tags:
    - apps
  block:
    - name: Install software-properties-common
      ansible.builtin.apt:
        update_cache: true
        state: present
        pkg:
          - software-properties-common
      when: (ansible_facts['distribution'] == "Ubuntu") or (ansible_facts['distribution'] == "Debian")

    - name: Enable apt universe repository
      ansible.builtin.command: add-apt-repository universe -y
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Update apt repo and cache
      ansible.builtin.apt:
        update_cache: true
        force_apt_get: true
        cache_valid_time: 3600
      when: (ansible_facts['distribution'] == "Ubuntu") or (ansible_facts['distribution'] == "Debian")

    - name: Stop and disable unattended-upgrades
      ansible.builtin.systemd_service:
        name: unattended-upgrades
        state: stopped
        enabled: false
      register: result_systemd_stop
      failed_when: result_systemd_stop is failed and 'Could not find the requested service' not in result_systemd_stop.msg

    - name: Remove Unattended
      ansible.builtin.apt:
        state: absent
        purge: true
        pkg:
          - unattended-upgrades

    # - name: Disable unattended-upgrades
    #   ansible.builtin.shell: sed -i 's/Unattended-Upgrade "1"/Unattended-Upgrade "0"/g' /etc/apt/apt.conf.d/20auto-upgrades

    - name: Install base tools (Ubuntu or Debian)
      ansible.builtin.apt:
        state: present
        pkg:
          - apt-utils
          - acl
          - curl
          - fd-find
          - git
          - htop
          - jq
          - neofetch
          - network-manager
          - ripgrep
          - rsync
          - unzip
          - vim
          - xdotool
          - xsel
          - zip
      when: (ansible_facts['distribution'] == "Ubuntu") or (ansible_facts['distribution'] == "Debian")
