---
- name: Install Waybar
  become: true
  tags:
    - desktop
  block:
    - name: Install waybar build dependencies (Ubuntu)
      ansible.builtin.package:
        name:
          - waybar
      when: ansible_facts['distribution'] == "Ubuntu"
