---
- name: Install solaar
  become: true
  tags:
    - apps
  vars:
    app_solaar_ubuntu_key: /etc/apt/trusted.gpg.d/solaar.asc
  block:
    - name: Download GPG Key
      ansible.builtin.get_url:
        url: https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x643ff34af9151dc814dd3a1b2303d595ee907473
        dest: "{{ app_solaar_ubuntu_key }}"
        mode: "0644"

    - name: Add solaar repository
      ansible.builtin.apt_repository:
        repo: deb [arch=amd64 signed-by={{ app_solaar_ubuntu_key }}] http://ppa.launchpad.net/solaar-unifying/stable/ubuntu {{ ansible_facts['distribution_release'] }} main
        state: present
        filename: spotify
      when: ansible_facts['distribution'] == "Ubuntu"

    - name: Install solaar
      ansible.builtin.package:
        name:
          - solaar
