---
- name: Install pass
  become: true
  tags:
    - apps
  block:
    - name: Install pass (Ubuntu)
      ansible.builtin.package:
        name:
          - pass
          - pass-extension-otp
      when: ansible_facts['distribution'] == "Ubuntu"

  # Configure gpg
