---
- name: Upgrade Server (Ubuntu or Debian)
  become: true
  when: (ansible_facts['distribution'] == "Ubuntu") or (ansible_facts['distribution'] == "Debian")
  block:
    - name: Update apt repo and cache (Ubuntu or Debian)
      ansible.builtin.apt:
        update_cache: true
        force_apt_get: true
        cache_valid_time: 3600

    - name: Upgrade all packages (Ubuntu or Debian)
      ansible.builtin.apt:
        upgrade: dist
        force_apt_get: true

    - name: Check if reboot is needed (Ubuntu or Debian)
      register: upgrade_server_reboot_required_file
      ansible.builtin.stat:
        path: /var/run/reboot-required

    - name: Reboot if kernel updated (Ubuntu or Debian)
      ansible.builtin.reboot:
        msg: Reboot initiated for kernel updates
        connect_timeout: 5
        reboot_timeout: 300
        pre_reboot_delay: 0
        post_reboot_delay: 30
        test_command: uptime
      when: upgrade_server_reboot_required_file.stat.exists
