---
- name: Install Vault
  become: true
  tags:
    - apps
  when: ansible_distribution == "Ubuntu"
  vars:
    applications_vault_key: /etc/apt/keyrings/hashicorp-vault.asc
  block:
    - name: Download Vault GPG Key
      ansible.builtin.get_url:
        url: https://apt.releases.hashicorp.com/gpg
        dest: "{{ applications_vault_key }}"
        mode: "0644"

    - name: Add Vault Repository
      ansible.builtin.apt_repository:
        repo: deb [arch=amd64 signed-by={{ applications_vault_key }}] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main
        state: present
        filename: hashicorp

    - name: Install Vault
      ansible.builtin.package:
        name: vault
