---
- name: Install neovim
  tags:
    - apps
  vars:
    neovim_repo: "{{ vault_home }}/src/github/system-repos/neovim"
  block:
    - name: Install neovim build dependencies (Ubuntu or Debian)
      ansible.builtin.apt:
        name:
          - git
          - ninja-build
          - gettext
          - libtool
          - autoconf
          - automake
          - cmake
          - unzip
          - curl
          - doxygen
          - libtool-bin
          - g++
          - pkg-config
        update_cache: true
      when: (ansible_facts['distribution'] == "Ubuntu") or (ansible_facts['distribution'] == "Debian")
      become: true

    - name: Install neovim build dependencies (MacOSX)
      community.general.homebrew:
        name:
          - git
          - ninja-build
          - gettext
          - libtool
          - autoconf
          - automake
          - cmake
          - unzip
          - curl
          - patch
          - gcc
          - gcc-c++
          - make
          - pkgconfig
      become: true
      when: ansible_facts['distribution'] == "MacOSX"

    - name: Clone neovim from github
      ansible.builtin.git:
        repo: https://www.github.com/neovim/neovim.git
        dest: "{{ neovim_repo }}"
        version: "12240600f5d2c992aa77bc4592edc16814abfafd"
        refspec: +refs/pull/*:refs/heads/*
        clone: true
        update: true

    - name: Run neovim - make
      ansible.builtin.command: make CMAKE_BUILD_TYPE=Release
      args:
        chdir: "{{ neovim_repo }}"

    - name: Run neovim - make install
      ansible.builtin.command: make install
      args:
        chdir: "{{ neovim_repo }}"
      become: true
