name: Lint

on:
  push:
    branches: ['master']
    paths-ignore:
      - '**.md'
  pull_request:
    branches: ['master']
    paths-ignore:
      - '**.md'
  workflow_dispatch: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: '3.13'
          cache: 'pip'
      - run: pip install --upgrade pip
      - run: pip install -r requirements.txt

      - name: Install Ansible Galaxy roles
        run: ansible-galaxy install -r requirements.yml

      - name: Cache Ansible Packages
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: ~/.ansible
          key: ${{ runner.os }}-ansible

      - name: Lint Playbooks and Roles
        run: bin/lint.sh
