name: Lint

on:
  push:
    branches: ['master']
    paths-ignore:
      - '**.md'
  pull_request:
    branches: ['master']
    paths-ignore:
      - '**.md'
  workflow_dispatch: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: '3.13'
          cache: 'pip'
      - run: pip install --upgrade pip
      - run: pip install -r requirements.txt

      - name: Install Ansible Galaxy roles
        run: ansible-galaxy install -r requirements.yml

      - name: Cache Ansible Packages
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5
        with:
          path: ~/.ansible
          key: ${{ runner.os }}-ansible

      - name: Lint Playbooks and Roles
        run: bin/lint.sh
