name: Lint

on:
  push:
    branches: ['master']
    paths-ignore:
      - '**.md'
  pull_request:
    branches: ['master']
    paths-ignore:
      - '**.md'
  workflow_dispatch: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: '3.13'
          cache: 'pip'
      - run: pip install --upgrade pip
      - run: pip install -r requirements.txt

      - name: Install Ansible Galaxy roles
        run: ansible-galaxy install -r requirements.yml

      - name: Cache Ansible Packages
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.ansible
          key: ${{ runner.os }}-ansible

      - name: Lint Playbooks and Roles
        run: bin/lint.sh
