name: Molecule Tests

on:
  push:
    branches: ['master']
    paths:
      - '**.yml'
  workflow_dispatch: {}

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0 # or 2

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          dir_names: true
          dir_names_max_depth: 2
          files: roles
          json: true

      - name: Setup Roles Matrix
        id: set_matrix
        run: echo role_matrix=$(echo ${{ steps.changed-files.outputs.all_changed_files }} | jq '.[] |= sub("roles/";"")') >> $GITHUB_OUTPUT
    outputs:
      role_matrix: ${{ steps.set_matrix.outputs.role_matrix }}

  test:
    runs-on: ubuntu-latest
    needs: build-matrix
    if: ${{ needs.build-matrix.outputs.role_matrix != '[]' && needs.build-matrix.outputs.role_matrix != '' }}
    strategy:
      fail-fast: false
      matrix:
        role: ${{ fromJson(needs.build-matrix.outputs.role_matrix) }}
        distro: [ubuntu2404, debian11]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: '3.13'
          cache: 'pip'
      - run: pip install --upgrade pip
      - run: pip install -r requirements.txt

      - name: Install Ansible Galaxy roles
        run: ansible-galaxy install -r requirements.yml

      - name: Cache Ansible Packages
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: ~/.ansible
          key: ${{ runner.os }}-ansible

      - name: Test Playbooks
        run: bin/test-role.sh ${{ matrix.role }} test ${{ matrix.distro }}
