name: Molecule Tests All

on:
  # push:
  #   branches: ['master']
  #   paths-ignore:
  #     - '**.md'
  # pull_request:
  #   branches: ['master']
  #   paths-ignore:
  #     - '**.md'
  workflow_dispatch: {}

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - id: set_matrix
        run: echo "role_matrix=$(ls roles --hide=windows --hide=shared --hide=macos | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
    outputs:
      role_matrix: ${{ steps.set_matrix.outputs.role_matrix }}

  test:
    runs-on: ubuntu-latest
    needs: build-matrix
    strategy:
      fail-fast: false
      matrix:
        role: ${{ fromJson(needs.build-matrix.outputs.role_matrix) }}
        distro: [ubuntu2404]
        # distro: [ubuntu2404, debian11]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.13'
          cache: 'pip'
      - run: pip install --upgrade pip
      - run: pip install -r requirements.txt

      - name: Install Ansible Galaxy roles
        run: ansible-galaxy install -r requirements.yml

      - name: Cache Ansible Packages
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.ansible
          key: ${{ runner.os }}-ansible

      - name: Test Playbooks
        run: bin/test-role.sh ${{ matrix.role }} test ${{ matrix.distro }}
